.navbar-brand {
    text-align: center;
    width: 100%;
  }
  
  .navbar-nav {
    justify-content: center;
    width: 100%;
  }
  
  .nav-item {
    text-align: center;
  }
  
  .navbar-toggler {
    margin-top: 10px; 
  }